  color: var(--branco);
    font-family: var(--roboto-mono);
    font-size: 40px;
    width: 70%;
}

#campo-senha:focus{
@@ -56,4 +57,36 @@ body{
.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}

.parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 32px;
    padding: 24px;
}

.parametro-titulo{
    font-family: var(--roboto-mono);
    font-size: 28px;
}

.parametro-senha__titulo{
    font-size:24px;
}

.parametro-coluna__senha{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.parametro-senha{
    width: 50%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .parametro-coluna__senha{
        flex-direction: row;
    }
}
